div[data-groupname$="optionsgrp"] {
    display: none;
}

div[data-groupname=subnet]>div[data-fieldtype=group] {
    flex-flow: column;
    flex-basis: content;
    flex-wrap: inherit;
    align-items: start;
}